.card {
    display: none;
}
  
.hover {
    display: block;
}

.other {
    display: none !important;
}

.noclick {
    display: none;
}

.clickable {

}

.clicked {
    position: absolute;
    z-index: 3;
    background-color: rgba(74, 47, 124, 0.3);
    width: 100%;
    height: 100%;
}

@keyframes animateIn {
to {
    opacity: 1;
    padding: 0px;
}
}
